<section class="product_list section">
  <h2 class="title is-2 has-text-centered has-text-centered-mobile grey-darker">矚目商品</h2>

  <section class="container">
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card product-item">
          <div class="card-image">
            <figure class="image">
              <%= image_pack_tag 'first_page/keyboard.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">藍牙鍵盤</h4>
              <p>兩個似乎有限責任公司，公佈文字自身發展。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card product-item">
          <div class="card-image">
            <figure class="image">
             <%= image_pack_tag 'first_page/fan.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">超續航電扇</h4>
              <p>保護水溝精英小七指出神經思路我就，新技。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card product-item">
          <div class="card-image">
            <figure class="image">
              <%= image_pack_tag 'first_page/laptop.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">鋁合金筆記電腦</h4>
              <p>培養外掛一直毫無下載次數培養，注意群眾。</p>
            </div>
          </div>
        </div>
      </div>

            <div class="column is-4">
        <div class="card product-item">
          <div class="card-image">
            <figure class="image">
              <%= image_pack_tag 'first_page/iphone.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">犀鳥盾防摔手機殼</h4>
              <p>那是目錄很好自行，將軍每個人，大小字幕。</p>
            </div>
          </div>
        </div>
      </div>

            <div class="column is-4">
        <div class="card product-item">
          <div class="card-image">
            <figure class="image">
              <%= image_pack_tag 'first_page/vacuum.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">大米掃地機</h4>
              <p>民族邀請眼中居然檔案天堂股權媒體，主動。</p>
            </div>
          </div>
        </div>
      </div>

      

      <div class="column is-4">
        <div class="card product-item">
          <div class="card-image">
            <figure class="image">
              <%= image_pack_tag 'first_page/esport.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6">耐久坐電競椅</h4>
              <p>來了但他實用跟我，修改請求中壢擁有，美。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>