
<%= form_with(model: [:admin, product]) do |form| %>
  <div class="field">
    <%= form.label :name, '商品名稱', class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :vendor_id, '廠商', class: 'label' %>
    <div class='select is-medium is-fullwidth'>
      <%= form.collection_select :vendor_id, Vendor.available, :id, :title %>
    </div>
  </div>


  <div class="field">
    <%= form.label :list_price, '商品訂價', class: 'label' %>
    <%= form.text_field :list_price, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :sell_price, '商品售價', class: 'label' %>
    <%= form.text_field :sell_price, class: 'input' %>
  </div>

  <div class="field">
    <%= form.check_box :is_selling %>
    <%= form.label :is_selling, '是否上架', class: 'checkbox' %>
  </div>

  <div class="field">
    <%= form.label :description, "商品簡介", class: 'checkbox' %>
    <%= form.rich_text_area :description %>
  </div>

  <hr>
  <h3>庫存</h3>
  <%= form.fields_for :stocks do |stock_form| %>
    <div class="columns nested-fields">
      <div class="column is-6">
        <div class="field">
          <%= stock_form.label :spec, '規格', class: 'label' %>
          <%= stock_form.text_field :spec, class: 'input' %>
        </div>
      </div>
      <div class="column is-2">
        <div class="field">
          <%= stock_form.label :quantity, '數量', class: 'label' %>
          <%= stock_form.number_field :quantity, class: 'input' %>
        </div>
      </div>
      <div class="column is-1">
        <div class="field">
          X
        </div>
      </div>
      <div class="column">
      </div>
    </div>
  <% end %>

  <%= form.submit value= '新增', class: 'button is-primary is-medium' %>
  <input type="button" class='button is-gray is-medium' value="取消" onclick="location.href='/admin/products'">
<% end %>